@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Inspiration&family=Pacifico&family=Shadows+Into+Light&family=Silkscreen:wght@400;700&display=swap");
*,
::before,
::after {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: "Dancing+Script", serif;
    color: snow;
    background-color: rgb(20, 10, 37);
}

h1 {
    font-family: "Inspiration", sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

a {
    text-decoration: none;
    color: linen;
}

main {
    display: grid;
    grid-template-columns: minmax(2rem, 1fr) minmax(min-content, 94rem) minmax( 2rem, 1fr);
    row-gap: 3rem;
}

img {
    width: 100%;
    object-fit: cover;
}

hr {
    margin: 1.5rem 0;
    border: 1px solid rgba(67, 67, 67, 0.6);
}

i {
    color: goldenrod;
}

i:hover {
    color: maroon;
}

p {
    text-align: initial;
}

.video {
    padding: 2rem 0;
    /* margin-top: 2rem; */
}

.heading {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.5rem;
}

.hero {
    grid-column: 1 / -1;
    position: relative;
}

.hero-title {
    text-align: center;
    color: #ef0000;
    font-size: 8rem;
}

.hero-subtitle {
    font-size: 2.4rem;
    color: #00a9ff;
    text-align: center;
    font-family: "Pacifico", sans-serif;
}

.hero .author {
    font-size: 2rem;
    font-family: "Pacifico", sans-serif;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    margin: 6px 0px;
}

.author-name a:hover {
    color: gold;
}

.publish-date {
    color: rgba(255, 255, 255, 0.5);
}

.text {
    grid-column: 2 / 3;
    font-size: 0.8rem;
    letter-spacing: 0.39px;
    column-width: 30rem;
    text-align: justify;
}

.first-paragraph::first-letter {
    font-size: 3rem;
    color: rgb(17, 200, 191);
    font-family: "Dancing+Script", sans-serif;
    float: left;
    margin-right: 0.5rem;
}

.declaration {
    display: flex;
}

.quote {
    color: rgb(220, 4, 4);
    font-size: 2.4rem;
    text-align: center;
    font-family: "Raleway", sans-serif;
}

.quote-author {
    color: rgba(225, 225, 2, 0.929);
    text-align: end;
}

.quote::before {
    content: '" ';
}

.quote::after {
    content: ' "';
}

.text-with-images {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 3rem;
    margin-bottom: 3rem;
}

.lists {
    list-style-type: none;
    margin-top: 2rem;
}

.lists li {
    margin-bottom: 1.5rem;
}

.list-title,
.list-subtitle {
    color: #00beef;
    margin-bottom: 0.06rem;
}

.short-brief {
    margin-bottom: 0.6rem;
    padding-bottom: 0.6rem;
}

.image-wrapper {
    display: table;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(3, min-content);
    gap: 2rem;
    place-items: center;
}

.image-1,
.image-3 {
    grid-column: 1 / -1;
}

@media only screen and (max-width: 720px) {
    .image-wrapper {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 600px) {
    .text-with-images {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 550px) {
    .hero-title {
        font-size: 6rem;
    }
    .hero-subtitle,
    .author,
    .quote,
    .list-title {
        font-size: 1.8rem;
    }
    .text {
        font-size: 1.6rem;
    }
}

@media only screen and (max-width: 420px) {
    .hero-title {
        font-size: 4.5rem;
    }
}