/*? Contact START */

.contact-container {
    background-color: silver;
    height: 100vh;
    width: 100vw;
}

.contact-details {
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
    flex-basis: fit-content;
    padding-left: 0.5rem;
}

.contact-details:hover {
    color: black;
    width: 4rem;
    transform: translateY(9px);
}


/*! Contact END */